# Entornos virtuales
venv/
env/
.venv/

# Archivos temporales de Python
__pycache__/
*.pyc

# Archivos de sistema de Mac
.DS_Store

# Variables de entorno (Contraseñas secretas)
.env

# Bases de datos locales
*.db
*.sqlite3
